<div class="form-group" style="margin-bottom: 10px">
  <div class="form-group">
    <span ng-bind="address"></span>
  </div>
  <div class="form-group">
    <form role="form" name="dateForm" id="dateForm" novalidate="novalidate">
      <div class="form-inline">
        <div class="input-group">
          <span class="text-capitalize">Вибрати період: </span>
        </div>
        <div class="input-group">
          <select id="year" name="year" class="form-control"
                  ng-options="year for year in years"
                  ng-model="selectedYear">
          </select>
        </div>
        <div class="input-group">
          <select name="month" id="month" class="form-control"
                  ng-options="month.number as month.name for month in monthStatic"
                  ng-model="selectedMonth">
          </select>
        </div>
        <button id="accrual" ng-disabled="!years.length" class="btn btn-primary" ng-click="getPayments()">
          <span class="text-capitalize">Перегляд</span>
        </button>
      </div>
    </form>
  </div>
  <div class="input-group">

  </div>
  <span class="gridTitle"> <span >{{dateInfo.text}}</span></span>

  <div class="alert alert-info" ng-show="dateInfo.err != null">
    <button type="button" class="close" ng-click="dateInfo.err = null">&times;</button>
    <strong>Увага!</strong> {{dateInfo.err}}
  </div>
    <div id="grid1" ui-grid="gridOptions" class="grid"></div>
</div>
