<div ng-controller="CheckingPinCodeCtrl">
    <p>Для того щоб переглянути інформацію про нарахування та оплату комунальних та інших послуг:</p>
    <ul class="address_progress">
        <li class=" complete"><p class="first_steep"><span>&nbsp1 </span> Оберіть населений пункт</p></li>
        <li class="center  complete"><span>&nbsp2 </span> Вкажіть адресу</li>
        <li class="active"><span> &nbsp3 </span> Введіть комунальний код</li>
    </ul>
    <form role="form" class="form-horizontal modalForm" novalidate="novalidate" method="post"
          name="checkingPinCodeForm" id="checkingPinCodeForm">
      <div class="form-group">
        <span>{{address}}</span>
      </div>
      <div class="form-group">
        <label class="col-lg-4 control-label">Комунальний код:</label>
        <div class="col-lg-2" ng-class="{'has-error':checkingPinCodeForm.pin_code.$invalid && checkingPinCodeForm.pin_code.$dirty}">
          <input autofocus placeholder="номер" type="password" class="form-control" id="pin_code" name="pin_code"
                 ng-model="pin_code"
                 required>
          <p class="text-danger" ng-show="checkingPinCodeForm.pin_code.$dirty && checkingPinCodeForm.pin_code.$error.required">Введіть комунальний код</p>
        </div>
      </div>
      <div class="form-group" >
        <button ng-click="submit()" class="btn btn-default btn-right">Далі >></button>
      </div>
    </form>
</div>