<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <style>


    html{height: 100%; }

    body{height: 100%; margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#919191; background-color:#232323;}

    .justify{text-align:justify;}
    .bold{font-weight:bold;}
    .center{text-align:center;}
    .right{text-align:right;}
    .nostart{margin:0; padding:0; list-style:none;}
    .hidden{display:none;}

    .clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
    .clear{display:inline-block; clear:both;}
    html[xmlns] .clear{display:block;}
    * html .clear{height:1%;}

    a{outline:none; text-decoration:none;}

    .fl_left{float:left;}
    .fl_right{float:right;}

    img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
    .imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
    .imgl{float:left; margin:0 15px 15px 0; clear:left;}
    .imgr{float:right; margin:0 0 15px 15px; clear:right;}

    div.wrapper{height: 100%; display:block; width:100%; margin:0; padding:0; text-align:left;}

    .row1, .row1 a{color:#C0BAB6; background-color:#333333;}
    .row2{color:#979797; background-color:#FFFFFF;}
    .row2 a{color:#FF9900; background-color:#FFFFFF;}
    .row3, .row3 a{color:#919191; background-color:#232323;}

    div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
      margin:0 0 15px 0;
      padding:0;
      font-size:80px;
      font-weight:normal;
      line-height:normal;
    }

    /* ----------------------------------------------Generalise-------------------------------------*/

    form, fieldset, legend{margin:0; padding:0; border:none;}
    legend{display:none;}
    input, textarea, select{font-size:12px; font-family:Georgia, "Times New Roman", Times, serif;}

    #container{display:block; margin:0 auto;}


    #container{padding:30px 0;}
    #container a{background-color:transparent;}

    #container #portfolio, #container #gallery{margin-bottom:30px;}

    /* ----------------------------------------------Pagination-------------------------------------*/

    #container .pagination{display:block; width:100%; text-align:center; clear:both; font-family:Verdana, Geneva, sans-serif;}
    #container .pagination ul{margin:0; padding:0; list-style:none;}
    #container .pagination li{display:inline;}
    #container .pagination strong{font-weight:normal;}
    #container .pagination .next{margin:0;}
    #container .pagination a, #container .pagination .current strong, #container .pagination .splitter strong{display:inline-block; padding:2px 6px; margin:0 2px 0 0;}
    #container .pagination a{border:1px solid #DFDFDF;}

    #fof{display:block; width:100%; margin:100px 0; line-height:1.6em; text-align:center;}
    #fof .hgroup{text-transform:uppercase;}
    #fof .hgroup h1low-x{margin-bottom:25px; font-size:80px;}
    #fof .hgroup h1 span{display:inline-block; margin-left:5px; padding:2px; border:1px solid #CCCCCC; overflow:hidden;}
    #fof .hgroup h1 span strong{display:inline-block; padding:0 20px 20px; border:1px solid #CCCCCC; font-weight:normal;}
    #fof .hgroup h2{font-size:60px;}
    #fof .hgroup h2 span{display:block; font-size:30px;}
    #fof p{margin:25px 0 0 0; padding:0; font-size:16px;}
    #fof p:first-child{margin-top:0;}
  </style>
</head>
<body>
<a href="/" style="cursor: default;">
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="hgroup">
        <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
        <h2>Помилка<span>Сторінка не знайдена</span></h2>
      </div>
      <p>Запитувана вами сторінка не знайдена на нашому сервері</p>
    </section>
  </div>
</div>
</a>
</body>
</html>
<script>
  setTimeout(function() {
    window.location = "<%- url %>";
  }, 5000)
</script>